
.pagination__block {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.moviepopular-title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}